body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: lightslategray;
    padding: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

li a {
    padding: 1em;
}

a:hover {
background: lightgrey;
}
 